[Unit]
Description=Multipass AWS Shadow to RPi monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/MultipassPubSub.py > /home/pi/myscript.log 2>&1

[Install]
WantedBy=multi-user.target
